<div class="container">
    <div class="d-flex justify-content-end" *ngIf="chatConversation.length!=0">
        <button class="ms-3 mt-3 mb-2 btn btn-primary" style="margin-left: auto;" (click)="endSession()">End Session</button>
      </div>
    <div class="chat-area">
        <div *ngFor="let item of chatConversation" class="chat-bubble-container" [ngClass]="item.cssClass">
            <div class="chat-bubble" *ngIf="item.response; else elseTemplate">
                <span [ngClass]="{'type':item.cssClass==='bot-message'}"
                    [style.--n]="item.response.length">{{item.response}}</span>
            </div>
            <ng-template #elseTemplate>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="input-area">
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Enter your query ..." [(ngModel)]="question"
                (keydown.enter)="sendMessage()">
            <button mat-icon-button matSuffix (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>