.input-area > mat-form-field {
    width: 100%;
}

.input-area {
    padding-top: 10px;
    padding-bottom: 5px;
}

.chat-area {
    height: 75vh;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.chat-area > :first-child {
    margin-top: auto;
}

.chat-bubble-container {
    width: 100%;
    display: flex;
}

.chat-bubble-container.human-message {
    justify-content: flex-end;
}

.chat-bubble-container.human-message > .chat-bubble {
    background-color: #c5cae9;
}

.chat-bubble {
    color: black;
    background-color: aliceblue;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
.type {
    color:#0000;
    background:
      linear-gradient(-90deg, #6c6c6c 5px,#0000 0) 10px 0,
      linear-gradient(black 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation:
      b .02s infinite steps(1),
      t calc(var(--n)*.01s) steps(var(--n)) forwards;
}
@keyframes t{
    from {background-size:0 200%}
}
@keyframes b{
    50% {background-position:0 -100%,0 0}
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
  }
